 <%= link_to 'マイページへ行く', user_path(current_user) %>
 <br><br><br>

<div class="content">
  <% @items.each do |item| %>
    <p><%= item.name %></p>
    <p><%= item.price %>円</p>
    <%= link_to '購入する', order_item_path(item.id), method: :post %>
    <br><br>
  <% end %>
</div>
